<!-- Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Coderhouse</h1>
            <p class="lead fw-normal text-white-50 mb-0">Backend Ecommerce Project</p>
        </div>
    </div>
</header>

<!-- A few products -->

<div class="container">
    <section>
        <p class="fs-2 text-uppercase text-center fw-bold font-monospace mb-4 mt-4 text-decoration-underline">Sale</p>
        <form action="/api/users/premium/{{user._id}}" method="post">
            <button type="submit">Change</button>
        </form>
    </section>
</div>

<!-- About us -->
<div class="container">
    <section>
        <p class="fs-2 text-uppercase text-center fw-bold font-monospace mb-4 mt-4 text-decoration-underline">About Us
        </p>
    </section>
</div>

<!-- Invite to chat -->
<div class="container">
    <section>
        <p class="fs-2 text-uppercase text-center fw-bold font-monospace mb-4 mt-4 text-decoration-underline">Join to
            our chats</p>
    </section>
</div>

<!-- Corny message -->
{{!-- <div class="container">
    <section>
    </section>
</div> --}}