<h2>Change your password!</h2>

<form action="/api/sessions/restore/{{uid}}" method="post">
    new password: <input type="password" name="passwordA" id="password">
    new password again: <input type="password" name="passwordB" id="password">
    <button type="submit">Change password</button>
</form>