<h2>Ingresá tu correo para restablecer tu contraseña.</h2>
<form action="/api/sessions/restore" method="post">
    email: <input type="text" name="email" id="email">
    <button type="submit">Enviar</button>
</form>